body.firstpage {
  background-color: #f39c12;
  color: white;
  }

#toggleSound {
  display: block;
  display: center;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}
.sound {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  color: rgb(255, 230, 0);
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-weight: bolder;
}
  
#toggleSound:hover{
  cursor: pointer;
}

#container canvas, #overlay {
  position: absolute;
}
/* logo image: */
#start-button
{
 cursor:pointer;
 height: 150px;
 width: 200px;
 padding-right: 120px;
 padding-bottom: 50px;
 border: 15px solid rgb(253, 52, 2);
}

#start-button > img:hover {
  animation: bounce 1s infinite
}

@keyframes bounce {
  0% {
      top: 0;
      animation-timing-function: ease-in;
  }
  16%, 48%, 78%, 100% {
      top: 190px;
      animation-timing-function: ease-out;
  }
  32% {
      top: 50px;
      animation-timing-function: ease-in;
  }
  62% {
      top: 100px;
      animation-timing-function: ease-in;
  }
  90% {
      top: 150px;
      animation-timing-function: ease-in;
  }

}

#thecanvas {
  margin: 0px auto;
  /* border-radius: 15px;
  background-image: url('images/conveyor_belt.jpg');  */
  background-size: contain;
  padding-bottom: 5px;
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gameboard > #app {
  position: relative;
  float: right;
  padding-right: 275px;
  padding-top: 80px;
}

#gameboard > #score {
  float: left;
  position: absolute;
  padding-left: 150px;
  padding-top: 50px;
}

body.gamepage {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
  background-image: url(./images/art.jpg);
}

.start-page {
  display: flex;
  text-align: center;
  flex-flow: column;
}

.game {
  background: #efefef;
  width:100%;
  height:750px;
  position: relative;
  overflow: hidden;
}

.game-start > img {
  height: 300px;
  width: 350px;
}

.restart {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.restart:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.restart:active {
	position:relative;
	top:1px;
}

#score {
  font-size: 100px;
  z-index: 20;
  font-family: arial;
  color: #d7e4d9;
  user-select:none;
  width:100%;
  text-align:center;
}

.sushi {
  width: 100px;
  height:100px;
  position:absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index:100;
}

.cat {
  width: 10%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}

.cat2 {
  width: 10%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}
.sushipic {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0); }
40% {
  -webkit-transform: translateY(-30px); }
60% {
  -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0); }
40% {
  -moz-transform: translateY(-30px); }
60% {
  -moz-transform: translateY(-15px); } }
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
40% {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px); }
60% {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px); } 

sushigoal {
  width: 8%;
  background-color: #dee5ef;
}
}

.mode {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #b8cde7 5%, #3d4240 100%);
	background-color:#f3a745;
	border-radius:18px;
	border:1px solid #cea39f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.mode:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.mode:active {
	position:relative;
	top:1px;
}

.button.pause {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
  border-style: double;
  border-width: 0px 37px 0px 37px;
  border-width: 0px 0px 0px 37px;
  border-color: #202020;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(159, 173, 159)
}

.base-timer__path-remaining.orange {
  color: rgb(238, 200, 131);
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  font-size: 32px;
  z-index: 20;
  color: #d7e4d9;
  font-family: arial;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
