#container canvas, #overlay {
  position: absolute;
}

#the-canvas {
  margin: 0px auto;
  border-radius: 15px;
  background-image: url('./images/conveyor_belt.jpg'); 
  background-size: contain;
  margin-top: 5px;
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#game-board > #app {
  position: relative;
  float: right;
  padding-right: 300px;
  padding-top: 80px;
}

#game-board > #score {
  float: left;
  position: absolute;
  padding-left: 150px;
  padding-top: 50px;
}

body.gamepage {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
  background-image: url(./images/modern_japanese_art.jpg);
}

.start-page {
  display: flex;
  text-align: center;
  flex-flow: column;
}

.game {
  background: #efefef;
  width:100%;
  height:750px;
  position: relative;
  overflow: hidden;
}

.game-start > img {
  height: 300px;
  width: 350px;
}

#score {
  font-size: 100px;
  z-index: 20;
  font-family: arial;
  color: #d7e4d9;
  user-select:none;
  width:100%;
  text-align:center;
}

.sushi {
  width: 100px;
  height:100px;
  position:absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index:100;
}

.cat {
  width: 10%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}

.cat2 {
  width: 10%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}
.sushipic {
  width: 50%;
  padding-bottom: 10px;
}

.sushigoal {
  width: 8%;
  background-color: #dee5ef;
}

body.firstpage > .el-4 {
  background-color: #f39c12;
  color: white;
  background-position: 60% 70%, top left;
  background-repeat: no-repeat, space no-repeat;
  background-image: url(logo.png), url(tuna_roll.png);
  }

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
